@model webapplication8.tblogin

@{
    ViewBag.Title = "Index";
}

<h2>Hi Admin</h2>

<a href="~/admin/Signin" class="btn btn-default">Sign UP</a>
<a href="~/assignments/Create" class="btn btn-default">create</a>
<a href="~/assignments/Edit" class="btn btn-default">edit</a>
<a href="~/assignments/Delete" class="btn btn-default">delete</a>
<a href="~/assignments/Details" class="btn btn-default">details</a>